@import '../../styles/variables';
@import '../../styles/mixins';

$border_style: 2px solid $color_Selected;
$padding_x: 0;
$padding_y: 10px;

button.btn {
  font-family: $fontGotham_400;
  font-size: 14px;
  line-height: 13px;
  text-transform: capitalize;
  border-radius: 0;
  min-width: 154px;

  @include on-tablet {
    font-family: $fontRoboto_500;
    line-height: 16px;
  }

  @include on-mobile {
    min-width: 105px;
  }
}

button.outlined {
  padding: $padding_y $padding_x;
  color: $color_Selected;
  border: $border_style;

  &:hover {
    border: $border_style;
  }
}

button.contained {
  padding: calc($padding_y + 2px) $padding_x;
  color: $color_White;
  background-color: $color_Selected;

  &:hover {
    background-color: $color_Selected;
  }
}
