@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../public/font/GothamPro-Light/GothamPro-Light.eot');
  src: url('../public/font/GothamPro-Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../public/font/GothamPro-Light/GothamPro-Light.woff') format('woff'),
  url('../public/font/GothamPro-Light/GothamPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/font/GothamPro-Regular/GothamPro.eot');
  src: url('../public/font/GothamPro-Regular/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../public/font/GothamPro-Regular/GothamPro.woff') format('woff'),
  url('../public/font/GothamPro-Regular/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../public/font/Roboto-Regular/Roboto-Regular.eot');
  src: url('../public/font/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../public/font/Roboto-Regular/Roboto-Regular.woff') format('woff'),
  url('../public/font/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../public/font/Roboto-Medium/Roboto-Medium.eot');
  src: url('../public/font/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../public/font/Roboto-Medium/Roboto-Medium.woff') format('woff'),
  url('../public/font/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
