@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../public/font/GothamPro-Light/GothamPro-Light.eot');
  src: url('../public/font/GothamPro-Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../public/font/GothamPro-Light/GothamPro-Light.woff') format('woff'),
  url('../public/font/GothamPro-Light/GothamPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../public/font/GothamPro-Regular/GothamPro.eot');
  src: url('../public/font/GothamPro-Regular/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../public/font/GothamPro-Regular/GothamPro.woff') format('woff'),
  url('../public/font/GothamPro-Regular/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
