$fontGotham_300: 'Gotham Pro Light';
$fontGotham_400: 'Gotham Pro';

$fontRoboto_400: 'Roboto Regular';
$fontRoboto_500: 'Roboto Medium';

$color_White: #FFFFFF;
$color_Light-transparency: #F1F1F2;
$color_Light-Dark: #7D7D7D;
$color_Dark: #4F4F4F;
$color_Black: #000000;
$color_Selected: #5A5DF6;
